In [53]:
import pandas as pd
import numpy as np

# Load the first CSV file into a DataFrame
df1 = pd.read_csv('himanshu_task1.csv', header=0)

# Add a column 'csv1' to df1
#df1['csv1'] = 'csv1'

# Load the second CSV file into a DataFrame
df2 = pd.read_csv('task1_kanchi.csv', header=0)

# Add a column 'csv2' to df2
#df2['csv2'] = 'csv2'

# Concatenate the two DataFrames
df_concat = pd.concat([df1, df2])

df1_sorted = df1.sort_values(by=['business_id_1',' business_id_2'])
df2_sorted = df2.sort_values(by=['business_id_1',' business_id_2'])

In [54]:
df1_sorted.to_csv('df1_sorted.csv', index=False)
df2_sorted.to_csv('df2_sorted.csv', index=False)

In [48]:
df_concat.head(20)

             business_id_1           business_id_2   similarity  csv1 csv2
0   -8O4kt8AIRhM3OUxt-pWLg  _p64KqqRmPwGKhZ-xZwhtg     0.500000  csv1  NaN
1   -A5jntJgFglQ6zwAmOiOMw  cTqIuG-fvlQQL0OWzsFdig     0.500000  csv1  NaN
2   -LfTBo0oa_uD454ScEW2XA  Lwb6bG1Qu3BbW7FJj5suLw     0.500000  csv1  NaN
3   -LfTBo0oa_uD454ScEW2XA  aokqWHt8vMf5iwj8KZZ5eg     0.500000  csv1  NaN
4   -LfTBo0oa_uD454ScEW2XA  J5U-nbhKSnnX7DJGT6QELg     1.000000  csv1  NaN
5   -Mm02AeY1PMGg-l-ShMxUg  RWwvuTbnf3DleUSiFbUscg     0.500000  csv1  NaN
6   -N_YCDH4HijYnJ-RisQfHA  zm8u9z2KCwEkNiCD59UQ3Q     0.500000  csv1  NaN
7   -N_YCDH4HijYnJ-RisQfHA  W2Vis19kUa7kP6GkSvJ9zQ     0.500000  csv1  NaN
8   -ePLgQ_afOTW1STxD-2RIA  fBU5QssrXMXPbJWD08o9zg     0.500000  csv1  NaN
9   -fn65iT4z-nh1Ybfyajxng  9BQGpsIRhs9cRHuGh9xuJw     0.500000  csv1  NaN
10  06X34OSshQJPDiyUDHtS0A  or4yipilbCkKIFnF1RP5Ow     0.500000  csv1  NaN
11  06X34OSshQJPDiyUDHtS0A  rsoxvO7ku3fZdhxAw739bQ     0.500000  csv1  NaN
12  0BOdyChBbhGjQXRWZtDscQ  uocjMsMLvB9o_0nIRKIR6w     1.000000  csv1  NaN
13  0FJ22K--OjiiQJZ8VJIpJw  ObJJ9S04UuIIjMHZTbK8Kw     1.000000  csv1  NaN
14  0JoteSDMdGJSgYzk60vSdQ  NjypbHnZG6HjNQVDVQ_iYA     0.500000  csv1  NaN
15  0Lq-MK2LwhntBCF7G2t71w  WvcUKsNMERSP_dPkgsq9ZA     0.500000  csv1  NaN
16  0PenhUhRbw2xd_suA68IjA  _11zD3Vo-oyd21A_t5B3BA     0.500000  csv1  NaN
17  0PenhUhRbw2xd_suA68IjA  7jKDOB9b_nijq0-djwyUTw     0.500000  csv1  NaN
18  0TUqA5zzBpj8izS96M_50A  PMTrNqHunjLgUfnuALUnmQ     0.500000  csv1  NaN
19  0WOlYhMZFtitsupK3VP_2w  dE_5fWVjBA0W4H7q2iwijQ     0.666667  csv1  NaN

In [43]:
df_concat.rename(columns={' business_id_2': 'business_id_2'}, inplace=True)

In [44]:
df_sorted = df_concat.sort_values(by=['business_id_1','business_id_2'])

In [46]:
df_sorted.head(10)

            business_id_1           business_id_2   similarity  csv1  csv2
0  -8O4kt8AIRhM3OUxt-pWLg  _p64KqqRmPwGKhZ-xZwhtg          0.5  csv1   NaN
0  -8O4kt8AIRhM3OUxt-pWLg  _p64KqqRmPwGKhZ-xZwhtg          0.5   NaN  csv2
1  -A5jntJgFglQ6zwAmOiOMw  cTqIuG-fvlQQL0OWzsFdig          0.5   NaN  csv2
1  -A5jntJgFglQ6zwAmOiOMw  cTqIuG-fvlQQL0OWzsFdig          0.5  csv1   NaN
2  -Jhlh8Scjy669NdtCfKSSg  o5Mofj5KJkYAMs_fhxftpg          0.5   NaN  csv2
3  -LfTBo0oa_uD454ScEW2XA  J5U-nbhKSnnX7DJGT6QELg          1.0   NaN  csv2
4  -LfTBo0oa_uD454ScEW2XA  J5U-nbhKSnnX7DJGT6QELg          1.0  csv1   NaN
2  -LfTBo0oa_uD454ScEW2XA  Lwb6bG1Qu3BbW7FJj5suLw          0.5  csv1   NaN
4  -LfTBo0oa_uD454ScEW2XA  Lwb6bG1Qu3BbW7FJj5suLw          0.5   NaN  csv2
5  -LfTBo0oa_uD454ScEW2XA  aokqWHt8vMf5iwj8KZZ5eg          0.5   NaN  csv2